html,
body {
	padding: 0;
	margin: 0;
	background: var(--white);
	color: var(--light-black);
	font-family: 'Montserrat', sans-serif;
	font-family: 'Noto Sans', sans-serif;
}
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	--black: #000000;
	--light-black: #666666;
	--gray:  #F7F7F7;
	--light-gray: #DEDCDC;
	--blue: #336699;
	--white: #FFFFFF;
	--red: #DC143C;
}

.app {
	width: 1200px;
	margin: 0 auto;
	display: grid;
	-ms-grid-columns: 250px 5px auto;
	grid-template-columns: 250px 5px auto;
	-ms-grid-rows: 25px 540px;
	grid-template-rows: 25px 540px;
	border-left: 1px solid var(--light-black);
	border-right: 1px solid var(--light-black);
	border-bottom: 1px solid var(--light-black);
}

.app > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.app > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

.app > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.app > *:nth-child(4) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

.app > *:nth-child(5) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}

.app > *:nth-child(6) {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
}

.command-bar {
	grid-column: 1 / -1;
	background: var(--gray)
}

.btn {
	border: none;
	background: whitesmoke;
	padding: 5px 15px;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
	color: var(--black);
}

.btn:hover {
	background: var(--light-gray);
}

.file-tree {
	background: var(--white);
	display: block;
	width: 100%;
	overflow-x: auto;
}

.file-tree ul {
	list-style-type: none;
	
}
.file-area {
	display: -ms-grid;
	display: grid;
	overflow: auto;
	-ms-grid-columns: auto;
	grid-template-columns: auto;
	-ms-grid-rows: 25px auto;
	grid-template-rows: 25px auto;
	background: var(--white);
}

.file-area > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.file-area > *:nth-child(2) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

.hide::before {
	content: url('../img/arrow-close.png');
}

.show::before {
	content: url('../img/arrow.png');
}

.text {
	height: 515px;
	border-top: 1px solid var(--blue);
}

.warning {
	-webkit-transition-property: border;
	-o-transition-property: border;
	transition-property: border;
	-webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
	border: 1px solid var(--red);
}

.tooltip {
	position: fixed;
	padding: 15px;
	border: 1px solid var(--blue);
	border-radius: 5px;
	text-align: center;
	color: var(--light-black);
	background: var(--white);
	-webkit-box-shadow: 0px 6px 9px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 6px 9px -1px rgba(0, 0, 0, 0.5);
	font-size: 12px;
}

.folder::before {
	content: url('../img/open-folder.png');
	margin-right: 5px;
}

.close-folder::before {
	content: url('../img/folder.png');
	margin-right: 5px;
}

.file::before {
	content: url('../img/document.png');
	margin-right: 5px;
}

.nav-bar-files {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.file-title {
	padding: 5px 15px;
	border: 1px solid var(--gray);
	opacity: 50%;
}
.file-title.active {
	padding: 5px 15px;
	border-top: 1px solid var(--blue);
	border-left: 1px solid var(--blue);
	border-right: 1px solid var(--blue);
	color: var(--blue);
	opacity: 100%;
}
.file-body {
	width: 100%;
	height: 100%;
	font-size: 16px;
}
.separator {
	border-left: 5px solid var(--light-gray);
    height: 100%;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;

	justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	background-color: var(--gray);
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid var(--light-black);
	width: 50%; 
}

.close-modal {
	color: var(--light-black);
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}